<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseJitterUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MouseJitterUtility.Properties.Settings>
            <setting name="minDistance" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="maxDistance" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyModifier" serializeAs="String">
                <value>0</value>
            </setting>
        </MouseJitterUtility.Properties.Settings>
    </userSettings>
</configuration>